body {
    background: rgb(44, 40, 59);
    padding: center
}

.navbar {
    background-color: rgb(50, 49, 53);
}

.navbar-brand {
    color: white;
    font-weight: bold;
}

.spanBrand:hover {
    color: rgb(161, 0, 0);
}

.navbar-nav li a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

